<!DOCTYPE html>
<html>
  <head>
    <title>workmad3.com - {{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="robots" content="index,follow"/>
    <meta name="mssmarttagspreventparsing" content="true"/>
    <link rel="shortcut icon" href="/images/favicon.gif" type="image/gif" /> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <link media="screen" rel="stylesheet" type="text/css" href="/stylesheets/screen.css" />
    <link media="print" rel="stylesheet" type="text/css" href="/stylesheets/print.css" />
    <link rel="start" href="http://www.workmad3.com" title="workmad3.com"/>
  </head>
  <body>
    <div id="header">
      <div id="masthead">
        <div id="logo">
          <a href="/"><img src="/images/logo.png" /></a>
        </div>
        <div id="banner">
          <img src="/images/banner.png" />
        </div>
      </div>
      <ul id="topmenu">
        {% if page.title == "Home" %}
          <li class="current">Home</li>
        {% else %}
          <li><a href="/index.html">Home</a></li>
        {% endif %}
        {% if page.title == "About Me" %}
          <li class="current">About Me</li>
        {% else %}
          <li><a href="/about.html">About Me</a></li>
        {% endif %}
        {% if page.title == "CV" %}
          <li class="current">CV</li>
        {% else %}
          <li><a href="/cv.html">CV</a></li>
        {% endif %}
        {% if page.title == "Blog" %}
          <li class="current">Blog</li>
        {% else %}
          <li><a href="/blog.html">Blog</a>
        {% endif %}
      </ul>
    </div>
    <div id="body">
      {{ content }}
    </div>
    <div id="footer">
      &copy; David Workman, 2010
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/application.js"></script>
  </body>
</html>
