<!DOCTYPE html>
<html>
  <head>
    <title>workmad3.com - {{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="robots" content="index,follow"/>
    <meta name="mssmarttagspreventparsing" content="true"/>
    <link rel="shortcut icon" href="/images/favicon.gif" type="image/gif" /> 
    <link rel="alternate" title="RSS" type="application/rss+xml" href="/rss" />
    <link media="screen, projection" rel="stylesheet" type="text/css" href="/stylesheets/blueprint/screen.css" />
    <link media="print" rel="stylesheet" type="text/css" href="/stylesheets/blueprint/print.css" />
    <!--[if lt IE 8]>
      <link media="screen, projection" rel="stylesheet" type="text/css" href="/stylesheets/blueprint/ie.css" />
    <![endif]-->
    <link media="screen" rel="stylesheet" type="text/css" href="/stylesheets/screen.css" />
    <link media="print" rel="stylesheet" type="text/css" href="/stylesheets/print.css" />
    <link media="screen, projection" rel="stylesheet" type="text/css" href="/stylesheets/highlight.css" />
    <link rel="start" href="http://www.workmad3.com" title="workmad3.com"/>
  </head>
  <body>
    <div class="container">
      <div id="header" class="span-24 last">
        <div id="logo" class="span-3">
          <a href="/"><img src="/images/logo.png" width="110px" height="110px" /></a>
        </div>
        <div id="masthead" class="span-21 last">
          <div id="banner" class="span-21 last">
            <a href="/"><img src="/images/banner.png" width="820px" height="90px" /></a>
          </div>
          <div id="topmenu" class="span-21 last">
            <ul id="topmenu">
              {% if page.title == "Home" %}
                <li class="current"><a href="/index.html">Home</a></li>
              {% else %}
                <li><a href="/index.html">Home</a></li>
              {% endif %}
              {% if page.title == "News" %}
                <li class="current"><a href="/news.html">News</a></li>
              {%else%}
                <li><a href="/news.html">News</a></li>
              {%endif%}
              {% if page.title == "Blog" %}
                <li class="current"><a href="/blog.html">Blog</a></li>
              {% else %}
                <li><a href="/blog.html">Blog</a>
              {% endif %}
              {% if page.title == "Projects" %}
                <li class="current"><a href="/projects.html">Projects</a></li>
              {% else %}
                <li><a href="/projects.html">Projects</a></li>
              {% endif %}
              {% if page.title == "CV" %}
                <li class="current"><a href="/cv.html">CV</a></li>
              {% else %}
                <li><a href="/cv.html">CV</a></li>
              {% endif %}
              {% if page.title == "About Me" %}
                <li class="current"><a href="/about.html">About Me</a></li>
              {% else %}
                <li><a href="/about.html">About Me</a></li>
              {%endif%}
            </ul>
          </div>
        </div>
      </div>
      <div id="body" class="span-24 last">
        <h1>{{ page.title }}</h1>
        <div id="left-menu" class="span-3">
          <div id="last_5_blog" class="span-3 last">
            Latest Blog posts:<br/>
            <ul>
            {% for p in site.categories.blog limit: 5 %}
              <li><a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
            </ul>
          </div>
          <div id="last_5_news" class="span-3 last">
            Latest News:<br/>
            <ul>
            {% for n in site.categories.news limit: 5 %}
              <li><a href="{{ n.url }}">{{ n.title }}</a></li>
            {% endfor %}
            </ul>
          </div>
          <div id="current_projects" class="span-3 last">
            Current Projects:<br/>
            <ul>
            {% for project in site.categories.projects %}
              {% if project.current %}
                <li><a href="{{project.url}}">{{project.title}}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
        <div id="content" class="span-15">
          {{ content }}
        </div>
        <div id="right-menu" class="span-6 last">
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 4,
      interval: 6000,
      width: 250,
      height: 300,
      theme: {
        shell: {
          background: '#261726',
          color: '#B2A98F'
        },
        tweets: {
          background: '#181916',
          color: '#CCCBAC',
          links: '#4C453B'
        }
      },
      features: {
        scrollbar: true,
        loop: false,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
      }
    }).render().setUser('workmad3').start();
  </script>
        </div>
      </div>
      <div id="footer" class="span-24 last">
        &copy; David Workman, 2010
      </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="http://disqus.com/forums/workmad3/embed.js"></script>
    <script src="http://disqus.com/forums/workmad3/count.js"></script>
  </body>
</html>
