<!DOCTYPE html>
<html>
  <head>
    <title>workmad3.com - {{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="robots" content="index,follow"/>
    <meta name="mssmarttagspreventparsing" content="true"/>
    <link rel="shortcut icon" href="/images/favicon.gif" type="image/gif" /> 
    <link rel="alternate" title="RSS" type="application/rss+xml" href="http://feeds.feedburner.com/Workmad3com" />
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link media="screen, projection" rel="stylesheet" type="text/css" href="/stylesheets/highlight.css" />
    <link rel="start" href="http://www.workmad3.com" title="workmad3.com"/>
  </head>
  <body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="/">workmad3.com</a>
          <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/news.html">News</a></li>
            <li><a href="/blog.html">Blog</a></li>
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="/cv.html">CV</a></li>
            <li><a href="/about.html">About Me</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <h1>{{ page.title }}</h1>
        <div id="left-menu" class="span4">
          Latest Blog posts:<br/>
          <nav>
            <ul>
            {% for p in site.categories.blog limit: 5 %}
              <li><a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
            </ul>
          </nav>
          Latest News:<br/>
          <nav>
            <ul>
            {% for n in site.categories.news limit: 5 %}
              <li><a href="{{ n.url }}">{{ n.title }}</a></li>
            {% endfor %}
            </ul>
          </nav>
          Current Projects:<br/>
          <nav>
            <ul>
            {% for project in site.categories.projects %}
              {% if project.current %}
                <li><a href="{{project.url}}">{{project.title}}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </nav>
        </div>
        <div id="content" class="span12">
          {{ content }}
        </div>
      </div>
      <div class="row">
        <footer class="span16">
          &copy; David Workman, 2010
        </footer>
      </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="http://disqus.com/forums/workmad3/embed.js"></script>
    <script src="http://disqus.com/forums/workmad3/count.js"></script>
		<script src="http://widgets.twimg.com/j/2/widget.js"></script>
		<script>
			new TWTR.Widget({
        id: 'twitter',
				version: 2,
				type: 'profile',
				rpp: 4,
				interval: 6000,
				width: 250,
				height: 300,
				theme: {
					shell: {
						background: '#261726',
						color: '#B2A98F'
					},
					tweets: {
						background: '#181916',
						color: '#CCCBAC',
						links: '#4C453B'
					}
				},
				features: {
					scrollbar: true,
					loop: false,
					live: true,
					hashtags: true,
					timestamp: true,
					avatars: false,
					behavior: 'all'
				}
			}).render().setUser('workmad3').start();
		</script>
  </body>
</html>
