---
layout: blog
---
<div id="content" class="span-15">
  <div id="post" class="span-15 last">
    {{ content }}
  </div>
  <div id="disqus_thread" class="span-15 last"></div>
  <script src="http://disqus.com/forums/workmad3/embed.js"></script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
